@page "/Aporte/Create"
@inject AportesService AportesService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Crear Aporte</h3>

<EditForm Model="nuevoAporte" OnValidSubmit="GuardarAporte">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="persona" class="form-label">Persona</label>
        <InputText class="form-control" id="persona" @bind-value="nuevoAporte.Persona" />
        <ValidationMessage For="@(() => nuevoAporte.Persona)" />
    </div>

    <div class="mb-3">
        <label for="observacion" class="form-label">Observaci&oacute;n</label>
        <InputText class="form-control" id="observacion" @bind-value="nuevoAporte.Observacion" />
        <ValidationMessage For="@(() => nuevoAporte.Observacion)" />
    </div>

    <div class="mb-3">
        <label for="monto" class="form-label">Monto</label>
        <input type="number" class="form-control" id="monto" @bind="nuevoAporte.Monto" />
        <ValidationMessage For="@(() => nuevoAporte.Monto)" />
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
</EditForm>

@code {
    private ParcialModelo nuevoAporte = new();

    private async Task GuardarAporte()
    {
       
        await AportesService.Guardar(nuevoAporte);
  
        NavigationManager.NavigateTo("/Aporte/Index");
    }
}
